.bau {
    text-align: center;

    &__box {        
        background-color: #43b649;
        height: 50%;
        width: 50%;
        transform: translateX(50%);
    }

    &__title {       


    }

}

