.bau {
    font-size: 1rem;
}

.bau__box {        
    background-color: green;
    text-align: center;    
    width: 50%;
    top: 50%;    
    transform: translateX(50%);   
}

button {
    font-size: 1rem;
    padding: 0.625rem;
    margin: 10px;
}